<body><form action = "http://localhost:5004/create" method = "post">
    <label for = "first_name">first_name</label><br>
    <input type="text" first_name ="nm" name ="first_name" value = ""> <br>
    <label for = "last_name">last_name</label><br>
    <input type="text" id ="last_name" name ="last_name" value = ""> <br>
    <label for = "email">email</label><br>
    <input type="text" id ="email" name ="email" value = ""> <br>
    <label for = "password">password</label><br>
    <input type="text" id ="password" name ="password" value = ""  required> <br>
    <input type = "submit" value = "submit" />
    </form>
</body>